body{
    font-family: sans-serif;
    color:darkslategray;
    font-weight: 500;
}
h2{
    font-weight: 2000;
    color: black;
}
h3{
    font-weight:1000;
    color: black;
}
h4{
    font-weight: 500;
    color: darkslategray;
}
h5{
    font-weight: 200;
    color: darkslategray;
}
